<!-- <mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field style="margin-top: 20px">
      <mat-label>Titulo</mat-label>
      <input
        matInput
        [(ngModel)]="title"
        name="title"
        required
        minlength="20"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid"
        >Porfabor yena un titulo di minimo 20 karakter</mat-error
      >
    </mat-form-field>
    <mat-form-field style="background-color: rgb(230, 227, 227)">
      <mat-label>Contenido</mat-label>
      <textarea
        matInput
        rows="10"
        [(ngModel)]="content"
        name="content"
        required
        #content="ngModel"
      ></textarea
      ><br />
      <mat-error *ngIf="content.invalid">Porfabor yena bo contenido</mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      style="border-radius: 25px; width: 250px; margin: 20px 0 20px 3px"
      type="submit"
    >
      Post
    </button>
  </form>
</mat-card> -->
