mat-expansion-panel {
  background-color: rgb(92, 22, 126);
  color: snow;
  position: relative;
  top: 20px;
}
mat-panel-title {
  color: snow;
}

mat-panel-description {
  color: snow;
}

.flex-container {
  display: flex;
  width: 100%;
}
.position-text {
  flex: 1;
}

.move {
  margin: 5px 20px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.unify {
  display: flex;
  width: 100%;
}
.expand-text {
  width: 83%;
}

.color {
  width: 60%;
  margin: auto;
}
