mat-form-field {
  width: 100%;
}

textarea {
  width: 100%;
  background-color: rgb(228, 228, 227);
  padding: 0;
}

form {
  background-color: rgb(255, 241, 223);
  padding: 20px;
  border-radius: 20px;
}

mat-card {
  margin: 20px auto 0 auto;
  width: 60%;
  border-radius: 20px;
}

.stylebtn {
  width: 150px;
  height: 50px;
  margin: 20px;
}

.styleCont {
  background-color: rgb(245, 245, 245);
}
