mat-form-field {
  width: 100%;
}

textarea {
  width: 100%;
  background-color: rgb(228, 228, 227);
  padding: 0;
}

form {
  background-color: rgb(255, 241, 223);
  padding: 20px;
}
input {
  /*background-color: rgb(254, 245, 233);*/
}

mat-card {
  margin-top: 20px;
}
