<main grid-container full>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <span class="menu-text">Amiga |</span>
          <span class="tag">Estilo di Bida Moderno</span>
        </li>
        <li style="padding-top: 30px">
          <a href="#">Akshon</a>
          <ul class="menu vertical">
            <li>
              <a href="#" style="width: 225px; text-align: center"
                >Krea un Artikulo nobo</a
              >
            </li>
            <!-- <li><a href="#"></a></li>
            <li><a href="#"></a></li> -->
          </ul>
        </li>
        <li style="padding-top: 30px"><a href="#">Sobrè Nos</a></li>
        <li style="padding-top: 30px"><a href="#">Kontakto</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <button class="button hollow tiny" style="margin-right: 8px">
            Inisia Seshon
          </button>
        </li>
        <li><button class="button tiny">Cansela Seshon</button></li>
      </ul>
    </div>
  </div>
</main>
