<section class="color">
  <mat-accordion *ngIf="posts.length > 0">
    <mat-expansion-panel hideToggle *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ post.title }}</mat-panel-title>
        <mat-panel-description>
          This is a lifetime journey
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex-container">
        <div class="position-text">
          <div class="unify">
            <div class="expand-text">
              <br /><img
                src="../../../assets/images/Amiga_BW_cover.jpg"
                alt=""
                style="
                  box-shadow: rgba(178, 67, 178, 0.671) 0px 13px 27px -5px,
                    rgba(226, 123, 238, 0.3) 0px 8px 16px -8px;
                  margin: -20px 0 20px 0;
                "
              />
              <h2 style="line-height: 10pt; padding: 0">{{ post.title }}</h2>
              <p style="line-height: 2pt; padding: 0¸">{{ post.content }}</p>
            </div>
            <div class="position-button">
              <button
                type="button"
                mat-flat-button
                class="move"
                style="background-color: beige"
                [routerLink]="['/edit', post.id]"
              >
                Edit
              </button>
              <button
                type="button"
                mat-flat-button
                color="warn"
                (click)="onDelete(post.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <H2 *ngIf="posts.length <= 0" style="text-align: center"
    >No tin Kontenido disponibel!!</H2
  >
</section>
