/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cinzel";
  src: url("assets/fonts/Cinzel-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Blantik";
  src: url("assets/fonts/Blantick Script.otf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: bisque !important;
}
